<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sunt do
        lores aperiam commodi eaque, magnam minima expedita. Qui tempora nesciunt laudantium et provide
        nt quisquam, expedita similique, illo nemo sint reprehenderit?

    </p>
</body>
</html>